*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: Gilroy; 
    color: white; 
    margin: 0px; 
    text-align: center; 
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 35px;
}
div.cuerpo{
    margin: 0px;
    width: 100%;
    height: 8000px;
    background-color: #252591 ;
}
        
div.recuadro_encabezado{
    margin: 0px;
    background-color: #00004b; 
    width: 100%; 
    height: 100%; 
    height:  147px;}
ul.menu{
    color: white;
    list-style: none;
    padding-bottom: 5px;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    font-family: Gilroy;
    text-decoration: none;
}

.menu li#inicio a:hover{
    color: yellow;
    transition: all, 500ms ;
}
.menu li#cultura a:hover{
    color: #327DFF;
    transition: all, 500ms ;
}
.menu li#turismo a:hover{
    color: rgb(241, 71, 71);
    transition: all, 500ms ;
}
/* hover= funciona para dar un efecto al pasar el mouse */
   /* display in line block= colocar elementos uno junto a otro */
.submenu{
    position: absolute;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;

}
/*recuadro que aparece sobre cultura*/
.submenu li a{
    background-color: #2f2d88bb;
    display: block;
    padding: 15px;
    color: white;
    font-family: Gilroy;
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility:visible;
    opacity: 1;
    width: 140px;
    text-align: center;
}
.submenu li#arte a:hover{
    color: yellow;
}
.submenu li#musica a:hover{
    color: #327DFF;
}
.submenu li#vestimenta a:hover{
    color: rgb(241, 71, 71);
}
div#cuadro_1{
    background-color: red;
    width: 600px;
    height: 600px;
    margin-left: 50px;
}
div#subcuadro_1{
    background-color: pink;
    width: 50%;
    height: 50%;

}
p#texto_1{
    color: white;
    font-size: 50px;
    margin-top: 35px;
    margin-left: 40px;
    font-family: Gilroy;
    font-size: 35px;
}
#mapa_del_ecuador{
    margin-top: 35px;
    margin-left: 60px;
    top:0px; 
    left:0px; 
    width:640px; 
    height:449px;
            
}
.regiones{
    width: 40px;
    height: 35px;
    color: white;
    float: right;
    margin-right: 50px;
}

.regiones_2 {
    width: 500px;
    height: 35px;
    color: white;
    margin-right: 50px;
    margin-left: 100px;
}

#regiones_texto{
    width:100%;
    width: 200px ;
    text-align: left;
    background-color: #B3E5FC;
    color: black;
    border-collapse: collapse;
    font-family: Gilroy;
    float: right;
    margin-right: 40px;
}

#regiones_texto1{
    width:100%;
    width: 200px ;
    text-align: left;
    background-color: #B3E5FC;
    color: black;
    border-collapse: collapse;
    font-family: Gilroy;
    float: right;
    margin-right: 40px;
}
#regiones_texto2{
    width:100%;
    width: 200px ;
    text-align: left;
    background-color: #B3E5FC;
    color: black;
    border-collapse: collapse;
    font-family: Gilroy;
    float: right;
    margin-right: 5px;
}
#regiones_texto3{
    width:100%;
    width: 200px ;
    text-align: left;
    background-color: #B3E5FC;
    color: black;
    border-collapse: collapse;
    font-family: Gilroy;
    float: right;
    margin-right: 5px;
}
th , td.otros{
    padding: 
    15px;
}
td.costa{
    padding: 
    15px;
}
th{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}
thead{
    background-color: #0288d1;
    color: white;
    border-bottom: solid 5px #003055;
    
}
thead #provincias_costa{
    background-color: #0288d1;
    color: white;
    border-bottom: solid 5px #003055;
    
}
tr:nth-child(even){
    background-color: #81d4fa;

}
tr:hover td{
    background-color: #49a1e3;
    color: white;

}

#btn1{
    box-decoration-break: none;
}
#if #li1{
    position: absolute;
    background-color: white;
    margin-top: 15px;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    display: none;
}
li{
    text-decoration: none;
    list-style: none;
}